/* form > label {
    display: block;
    margin: 5px 0;
}

form > label > span {
    width: 90px;
    display: inline-block;
}

table {
    border-collapse: collapse;
    width: 92%;
    margin-left: 3.0%;
}

td {
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid #000000;
}

table tbody tr {
    background-color: green;
}

table tbody tr:nth-child(odd) {
    background-color: grey;
}

form > label {
    display: block;
    margin: 5px 0;
}

form > label > span {
    width: 90px;
    display: inLine-block;
} */
