<html>

<head>
    <title>Starbucks- Search Nutrition Facts</title>
    <style>
        form>label {
            display: block;
            margin: 5px 0;
        }

        form>label>span {
            width: 90px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <form action="nutrition" method="get">
        <label>
            <span>Item :</span>
            <input type="text" name= item value="{{params['item']}}">
        </label>
        <label>
            <span>Type :</span>
            <input type="text" name= nutr_food value="{{params['nutr_type']}}">
        </label>

        <button type="submit">search</button>
    </form>

    <script src="starbucks.csv"></script>
    <script>
        $(document).ready(function(){
            $.get("starbucks.csv", function(data) {
                var rows = data.split("\n");
                var table = $("<table></table>");
                
                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].split(",");
                    if (i === 0) {
                        var tableHead = $("<thead></thead>");
                        var tableHeadRow = $("<tr></tr>");
                        
                        for (var j = 0; j < cells.length; j++) {
                            tableHeadRow.append($("<th></th>").text(cells[j]));
                        }
                        
                        tableHead.append(tableHeadRow);
                        table.append(tableHead);
                    } else {
                        var tableRow = $("<tr></tr>");
                        
                        for (var k = 0; k < cells.length; k++) {
                            tableRow.append($("<td></td>").text(cells[k]));
                        }
                        
                        table.append(tableRow);
                    }
                }
                
                $("body").append(table);
            });
        });
    </script>

</body>